* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 235, 235);
  font-family: 'Catamaran', sans-serif;
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}
.infoHead {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: black solid 2px;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
  background: lightgrey;
  text-align: center;
  vertical-align: middle;
}
.infoDiv:hover {
  background-color: #9c9a9a;
  font-weight: bold;
  font-size: larger;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  text-decoration: underline;
}
.infoDiv {
  display: grid;
  border: black solid 1px;

  /* border: black solid 3px; */
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
}
.inputField {
  width: 70%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  width: 70px;
  height: 35px;
  margin: auto;
}
.deleteBtn {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.deleteBtn:hover {
  background-color: #f44336;
  color: white;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.editBtn {
  background-color: white;
  color: black;
  border: 2px solid #8b8989;
}

.editBtn:hover {
  background-color: #a8a6a6;
  color: black;
  border: 2px solid #555555;
}
p {
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
}
.saveBtn {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.saveBtn:hover {
  background-color: #4caf50;
  color: white;
}
.cancelBtn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.cancelBtn:hover {
  background-color: #555555;
  color: white;
}

#selectType {
  margin: auto;
  font-size: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  display: block;
  margin: 8px auto;
}
#search {
  font-size: 20px;
  padding: 12px 20px 12px 40px;
  border: 1px solid black;
  border-radius: 8px;
  display: block;
  margin: 4px auto;
}
